@model TravelBlog.Models.People

@{
    ViewData["Title"] = "People - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PeopleId)
    
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.DropDownList("ExperienceId")

    <input type="submit" value="Save" class="btn btn-info"/>
}

@Html.ActionLink("Back to list", "Index")
