@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Experience - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Html.DisplayFor(model => model.Title)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ExperienceId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.DropDownList("LocationId")

    <input type="submit" class="btn btn-info" value="Save" />
}
@Html.ActionLink("Back to list", "Index")